body {
    background: url(../img/bg.jpg) no-repeat;
    background-size: cover;
    background-position-y: 100%;
    min-height: calc(100vh - 20px);
    box-sizing: border-box;
    margin:0;
    padding: 0;

}

.bitform {
    border: 1px solid #5c7d72;
    /* height: 300px; */
    padding: 2rem !important;
    margin-top: 2rem;
    border-radius: 15px;
}
li {
    margin-right: 20px;
    font-size: 20px;
}
.brand-logo {
    margin-left: 25px;  
}
#error{
    color: red;
}

.tabs li.tab a.active {
    background-color: #ee6e73;
    color: #fff;
    border-radius: 5px 5px 0 0;
}

form {
    margin-top: 2rem;
}

button.registration {
    margin-top: 1rem;
}


.center-content {
    text-align: center;
    margin: 0 auto;
}

#logout {
    padding: 5px 10px;
    line-height: 1;
    font-size: 0.8rem;
    margin-left: 3rem;
}
.profile {
    margin-top: 5rem;
}

.btn-floating.halfway-fab.editprofile {
    bottom: 125px;
}

.ReactModal__Overlay.ReactModal__Overlay--after-open{
    z-index: 1000;
}

.closebtn {
    float: right;
}