@import url('https://fonts.googleapis.com/css?family=Poppins:400,600,800');

body {
    font-family: 'Poppins', sans-serif;
    background-image: url(../img/bg2.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-color: #F0F3F6;
    background-attachment: fixed;
}

html {
    min-height: 100%;
}

.vh-center {
    margin-top: 5%;
}

.panel-bg {
    color: #fff;
    margin: 3rem auto;
    display: block;
    background-color: #15334d;
    padding: 3rem;
    box-shadow: 0 0 75px rgba(0, 0, 0, 0.6);
    border-radius: 15px;
    background-image: url(../img/addressbar_small.png);
    background-position: top;
    background-repeat: no-repeat;
    background-size: 100%;
    padding-top: 6rem;
    position: relative;
    z-index: 0;
    overflow: hidden;
}

.panel-bg::before {
    content: url(../img/lines.png);
    position: absolute;
    top: 0;
    right: 0;
    background-size: 100%;
    z-index: -10;
}

@media screen and (min-width: 768px) {
    .panel-bg {
        background-image: url(../img/addressbar.png);
    }
}

.login h1 {
    font-size: 2.3rem;
    width: 60%;
    display: inline-block;
    margin: 1rem;
    line-height: 1;
    vertical-align: top;
}

.login h1 span {
    font-weight: 800;
    font-size: 3.5rem;
}

nav.transnav {
    background-color: transparent;
    box-shadow: none;
    color: #171612;
}

nav.transnav ul a, nav.transnav .brand-logo {
    color: #171612;
}

nav.transnav ul li a {
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 0.1rem;
    font-size: 0.9rem;
    border-radius: 0 0 10px 10px;
}

nav.transnav ul li a:hover {
    border-radius: 0 0 10px 10px;
}

nav.transnav .brand-logo span {
    font-weight: 800;
}

nav.transnav .brand-logo span {
    font-weight: 600;
}

.logo {
    margin-top: 0.5rem;
    height: 110px;
}

.bitform {
    padding: 2rem !important;
    border-radius: 15px;
    background-color: rgba(255, 255, 255, 0.95);
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.1);
    z-index: 10;
}

li {
    margin-right: 20px;
    font-size: 20px;
}

#error {
    color: red;
}
.bitform .tabs {
    border-radius: 5px 5px 0 0;
}

.tabs li.tab a.active {
    background-color: #15334d;
    color: #fff;
}

.bitform .tabs .tab a {
    color: #527FB5;
}

form {
    margin-top: 2rem;
}

button.registration {
    margin-top: 1rem;
    background-color: #F1CD61;
}

button.registration:hover, button.registration:focus {
    background-color: #E5BA51;
}

.center-content {
    text-align: center;
    margin: 0 auto;
}

#logout {
    background-color: #15334d;
    padding: 10px 30px;
    line-height: 1;
    font-size: 0.8rem;
    margin-left: 3rem;
    font-weight: 600;
}

.profile {
    margin-top: 5rem;
}

.card .card-content {
    position: relative;
}

.btn-floating.halfway-fab.editprofile {
    top: 5%;
    right: 3%;
}

.ReactModal__Overlay.ReactModal__Overlay--after-open {
    z-index: 1000;
}

.closebtn {
    float: right;
}

.eqWrap {
    display: flex;
}

.equalHW {
    flex: 1;
}

.equalHMRWrap {
    justify-content: space-between;
    flex-wrap: wrap;
}

input[type=text].search-bar {
    background-image: url(../img/magnifier.svg);
    background-repeat: no-repeat;
    background-position: 0% 50%;
    background-size: 1rem;
    padding-left: 1.5rem;
}

.yellow-bg {
    background-color: #EEC133;
}

.card .card-action span:last-child{
    float: right;
}

.card-image::after, .card-content::after {
    content: "";
    display: block;
    clear: both;
}

.post .btn, .post .btn-large, .post .btn-flat {
    padding: 0 1rem;
    text-transform: initial;
    font-size: 0.8rem;
    height: 2rem;
    line-height: 2rem;
}

.post .btn i, .post .btn-large i, .post .btn-flat {
    font-size: 1rem;
}

.fl-right {
    float: right;
}

.dark-blue {
    background-color: #15334d;
}

.post {
    color: #fff;
}

.newsfeed h1 {
    font-size: 3rem;
}

.post-type-select {
    display: block;
}