.bitform {
    border: 1px solid #000;
    /* height: 300px; */
    padding: 2rem !important;
    margin-top: 2rem;
}
li {
    margin-right: 20px;
    font-size: 20px;
}
.brand-logo {
    margin-left: 25px;  
}
#error{
    color: red;
}